body{
  background-color:#F0E68C;
}
header {
  background-color: #00FF00;
  background-repeat: repeat-x;
  background-position: center center;
  width: auto;
  height: auto;
  text-align: center;
}
header h1 {
  color: #000000;
  text-decoration: underline;
}
nav {
  text-align: center;
  background-color: #00CC00;
}
nav ul li{
  background-color: #009900;
  display: inline-block;
  width: 200px;
  outline: #000000 solid 2px;
  margin: 15px;
}
nav ul {
  width: auto;
}
nav a {
  color: #FFFF00;
  text-decoration: none;
}
nav a:hover {
  color: #0000CD;
  text-decoration: underline;
}

article {
  float: left;
  outline: green 1px solid;
}

aside {
  float: right;
  outline: red 1px solid;
  background-color: #00FF00;
}
footer {
  outline: yellow 1px solid;
}
