body{
  background-color:#F0E68C;
  height: 700px;
}
header {
  border-width: 4px;
  height: auto;
  margin-bottom: 2%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
  width:auto;
}
h1, h2, h3 {
  color: #000000;
  font-family: serif;
  text-decoration: underline;
}
p {
  font-family: sans-serif;
}
nav {
  background-color: #00CC00;
  text-align: center;
}
nav ul li{
  background-color: #009900;
  display: inline-block;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  outline: #000000 solid 2px;
  width: 20%;
}
nav ul {
  width: auto;
}
nav a {
  color: #FFFF00;
  font-size: 1.2em;
  text-decoration: none;
}
nav a:hover {
  color: #0000CD;
  text-decoration: underline;
}


article {
  border-width: 4px;
  float: left;
  height:60%;
  margin-left: 7.5%;
  outline: green 1px solid;
  width: 53%;
}

aside {
  float: left;
  height: 60%;
  margin-left: 3.6%;
  outline: red 1px solid;
  text-align: center;
  width: 27%;
}
footer {
  clear: both;
  height: 10%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 25%;
  width: auto;
}
a {
  color: #0000FF;
  text-decoration: none;
}
a:hover {
  color: #FF0000;
  font-style: italic;
  text-decoration: underline;
}
.background {
  background-color: #00FF00;
  border-color: #00FF00 #009900 #FF9900 #FFFF00;
  border-style: inset;
  border-width: 4px;
}
